body{
    text-align: center;
    background: linear-gradient( lightblue 0%,darkblue 100%);
	
}

img{
  border-radius:50%;
  width:100px;
}

h2{
  font-size:20px;
  color:darkblue;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
#bio{
    padding:20px;
    font-size:18;
    text-align:center;
}
.unord{
    list-style: none;
    position: fixed;
    cursor: pointer;
    z-index: 10;
    top: 10px;
    right: 10px;
}
.lii{
    padding: 5px;
    background-color: coral;
    font-family: fantasy;
    font-size: 20px;
    float: left;
}
.lii:hover{
    background-color: darkturquoise;
    font-size: 25px;
    font-family: 'Skranji', cursive;
}
a{
    text-decoration: none
}
.wrote_by_tim:hover{
    color:aqua;
}